.card {
  width: 15vw;
  height: 35vh;
  margin: 1% 1%;
  padding: 0.5em;
  border: solid grey;
  background-color: black;
  text-align: center;
  color: white;
}

.cardFront{
  width: 100%;
  height: 100%;
}

.cardBack{
  height: 100%;
  text-align: left;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  display: none;
}

.cardBack h1{
  text-align: center;
}

.addedCharacter{
  display: contents;
}

.searchbar{
  align-items: center;
  position: relative;
  z-index: 1;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 1%;
  margin-bottom: 2%;
  border: solid;
  display: grid;
}

.image{
  width:100%;
  height: 85%;
}

.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  position: relative;
  z-index: 1;
  justify-items: stretch;
  align-content: stretch;
  height: 82vh;
  overflow-y: scroll;
};

.navbar {
  height: 10%;
  width: 100%;
  background-color: rgb(31, 31, 31);
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
  
}

nav{
  height: 20%;
  width: 98%;
  background-color: rgb(31, 31, 31);
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 1rem 1rem;
  border: solid black;
  font-size: 1.5rem;
  position: relative;
  z-index: 1;
}

.navbar ul{
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.site-title{
  font-size: 2rem;
}

.navbar a{
  color: inherit;
  text-decoration: none;
}

.formContainer{
    padding-left: 25%;
    padding-right: 25%;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.characterForm{
  display: grid;
  position: relative;;
  z-index: 1;
}

@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");
body{
  overflow-x: hidden;
  font-family: Roboto, sans-serif;
}

/* h1{
  background: rgba(0,0,0,0.5);
  padding: 10px;
} */

.video-container{
  width: 100vw;
  z-index: -1;
}

 iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 100vh;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

#text{
  position: absolute;
  color: #FFFFFF;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@media (min-aspect-ratio: 16/9) {
  .video-container iframe {
    height: 56.25vw;
  }
}
@media (max-aspect-ratio: 16/9) {
  .video-container iframe {
    width: 177.78vh;
  }
}

.quizContainer{
  z-index: 1;
  position: relative;
  width: 100vw;
  height: 80vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.question{
  width: 50%;
  height: 100%;
  margin: 2%;
  padding: .5%;
  border: solid;
  background-color: rgba(255, 255, 255, 0.800);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.question img{
  width: 70%;
  height: 75%;
}